.tabbing-structure{
  .nav-link.active:after{
    bottom: 0px;
    left: 0rem;
    right: 0rem;
  }
}
.profile-pic{
  width: 200px;
  height: 200px;
  background-color: #efefef;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}
.user-box {
  ul {
    line-height: 24px !important;
  }
}